@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Russo One", sans-serif;
  height: 100vh;
}
body header {
  position: relative;
}
body header .navbar {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  font-family: "Russo One", sans-serif;
}
body header .navbar a {
  color: #fff;
  text-decoration: none;
}
body header .navbar a img {
  width: 150px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}
body header .navbar .nav-links {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  margin-left: -100%;
  transition: all 0.5s ease;
}
body header .navbar .nav-links.mobile-menu {
  margin-left: 0;
}
body header .navbar .nav-links ul {
  font-size: 2.2em;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .nav-links ul li {
  margin: 25px 0;
}
body header .navbar .nav-links ul li a:hover {
  color: orangered;
}
body header .navbar img:nth-child(3) {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 18px;
  right: 30px;
}
body header .navbar img:nth-child(3):hover {
  transform: rotateZ(50deg);
  transition: 0.5s;
}
body .swiper-wrapper {
  height: 100vh;
  width: 60vw;
  position: relative;
  z-index: 1;
}
body .swiper-wrapper .box {
  position: relative;
  width: 40vw;
  font-size: 1.2vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}
body .swiper-wrapper .box .myDIV {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  display: none;
  font-size: 7px;
}
body .swiper-wrapper .box:nth-child(1) {
  position: relative;
}
body .swiper-wrapper .box:nth-child(2) {
  position: relative;
}
body .swiper-wrapper .box:nth-child(3) {
  position: relative;
}
body .swiper-wrapper .box:nth-child(4) {
  position: relative;
}
body .swiper-wrapper .box:nth-child(5) {
  position: relative;
}
body .swiper-wrapper .box:nth-child(6) {
  position: relative;
}
body .swiper-wrapper .box:nth-child(7) {
  position: relative;
}
body .swiper-wrapper .box .content {
  width: 400px;
  transition: width 1s;
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
body .swiper-wrapper .box .content h2 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}
body .swiper-wrapper .box .content p {
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}
body .swiper-wrapper .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
body .swiper-wrapper .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
body .swiper-wrapper .box:nth-child(1) .flip-card-front::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
body .swiper-wrapper .box:nth-child(1) .flip-card-front::before {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
body .swiper-wrapper .box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
body .swiper-wrapper .box:nth-child(2)::before {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
body .swiper-wrapper .box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
body .swiper-wrapper .box:nth-child(3)::before {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
body .swiper-wrapper .box:nth-child(4)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
body .swiper-wrapper .box:nth-child(4)::before {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
body .swiper-wrapper .box:nth-child(5)::after {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
body .swiper-wrapper .box:nth-child(5)::before {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
body .swiper-wrapper .box:nth-child(9)::after {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
body .swiper-wrapper .box:nth-child(9)::before {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
body .swiper-wrapper .box:nth-child(6)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
body .swiper-wrapper .box:nth-child(6)::before {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}
body .swiper-wrapper .box:nth-child(7)::after {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
body .swiper-wrapper .box:nth-child(7)::before {
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
body .swiper-wrapper .box:hover {
  transform: translateY(-20px);
}
body .swiper-wrapper .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
body .swiper-wrapper .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  filter: blur(30px);
}
body .bgd_image {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  background-image: url(../assets/jeu\ par\ 4.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  filter: blur(2px) brightness(112%) hue-rotate(195deg) drop-shadow(10px 10px 5px #321cc2);
  -webkit-filter: blur(2px) brightness(112%) hue-rotate(195deg) drop-shadow(10px 10px 5px rgba(87, 0, 163, 0.4039215686));
  -moz-filter: blur(2px) brightness(112%) hue-rotate(195deg) drop-shadow(10px 10px 5px #0606d8);
}

.active a {
  color: orangered;
  font-weight: 600;
}

@media screen and (min-width: 350px) and (max-width: 720px) {
  body .swiper .swiper-wrapper .box {
    width: 100VW;
  }
}/*# sourceMappingURL=games.css.map */